accelerate
einops
fastapi
git+https://github.com/salute-developers/GigaAM.git
httpx
matplotlib
numpy
pillow
protobuf
pydantic
pynvml
pyannote.audio>=4.0.1,<5
python-multipart
PyYAML
requests
safetensors
scikit-learn
sentencepiece
soundfile
speechbrain
timm
torchcodec==0.10
transformers==4.57.1
uvicorn[standard]
